body{
  text-align: center;
  background:linear-gradient(black ,
  rgb(52, 52, 73) ,
  rgb(47, 47, 71) ,
  rgb(47, 47, 126) ,
  rgb(33, 33, 182) );
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App *{
  width: fit-content;
  margin: 20px;
}

.input{
  padding: 15px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}
.input::placeholder{
  color: white;
  font-weight: 200;
  text-align: center;
}

.submit{
  border: 1px solid black;
  padding: 15px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
.submit:hover{
  background-color: rgb(132, 132, 197);
  color: rgb(1, 5, 255);
  font-weight: 1000;
  font-size: 30px;
}
.desc{
  text-transform: uppercase;
}
.div{
  display: flex;
  font-size: 20px;
}
h3{
  font-size: 20px;
}